<% content_for :title do %>
  Novo Bank account
<% end %>

<div class="page-header">
  <h1>Novo Bank account</h1>
  <%= link_to bank_accounts_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<%= render 'form' %>
